
<div class="container-lg bg-Warning">


	<div class="jumbotron">
		
		<div class="p-5 mb-4 rounded-3 text-center shadow" style="--bs-bg-opacity: .5;">
	      	<div class="container-fluid py-5 bg-dark bg-opacity-75">
	      		 <h1 class="display-5 fw-bold">Sign Up:</h1>
	      		<%= render 'users/form' %>

	      </div>
	    </div>
	</div>
</div>


