<div class="container-lg bg-Warning">

	<div class="text-center">
		 <h1 class="display-5 fw-bold"><%= #{@user.usernsme} %>'s profile</h1>
  		<img class="img-responsive" src="/images/hat.jpg"  width="200" height="auto"> 
	</div>

</div>