<h1>Battles listing page</h1>

<table>
	
	<thead>
		<tr>
			<th>Title</th>
			<th>Battlers</th>
			<th>Actions</th>
		</tr>		

	</thead>

	<tbody>
		<% @battles.each do |battle| %>
		<tr>
			<td><%= battle.title %></td>
			<td>battler_1 vs battler_2</td>
			<td>some_action</td>

		</tr>		
		<% end %>
	</tbody>

</table>