@import 'bootstrap/dist/css/bootstrap';


.navbar {
	background-color: black !important;
}

.nav-link {
	color: white !important;
}

.jumbotron {
	background-image: url('/images/cover.jpeg');
	margin-top: 30px;
}

.container-fluid{
	color: white !important;	
}
