@import 'bootstrap/dist/css/bootstrap';


.navbar {
	background-color: black !important;
}

.nav-link {
	color: white !important;
}

.jumbotron {
	background-image: url('/images/cover.jpeg');
	margin-top: 30px;
}

.container-fluid{
	color: white !important;	
}

.footer {

    bottom: 0;
    width: 100%;
    height: 60 px;
    line-height: 60px;
    background-color: black;
    flex-srink: none;
}

.body {
  position: relative;
  height: 100%;
}

#page-content {
	flex: 1 0 auto;
}