 <footer class="footer bg-gradient">
  <div class="text-muted text-center fs-5 mt-3">
      By Nick Yudin © 2021  </div>
    <div class="text-muted text-center" id="rip"> R.I.P. This moment <br/></div>

</footer>